extends ../../layouts/base.layout.pug
include ../../common/components/wm-button/wm-button.mixin.pug

block layoutVars
    - const META_TITLE = 'Chat page';

block head
    link(rel='stylesheet', href='/src/modules/chat/chat.css')

block content
    - const h1 = 'CHAT page DEPLOT BRANCH TEST';
    h1.main-content= h1
    - const pets = ['cat', 'dog'];
    each petName in pets
        +wm-button(petName)

    a(href='/src/pages/signup.pug') Go to signup
    a(href='/src/pages/login.pug') Go to login
