extends ../../layouts/base.layout.pug
include ../../common/components/components.index.pug

block layoutVars
    - const META_TITLE = 'Chat page';

block head
    link(rel='stylesheet', href='/src/modules/chat/chat.css')

block content
    - const h1 = 'Заглушка страницы с чатом';
    h1.main-content= h1
    - const pageUrls = ['/src/pages/signup.pug', '/src/pages/login.pug', '/src/pages/500.pug', '/src/pages/404.pug', '/src/pages/update-password.pug', '/src/pages/profile-info.pug', '/src/pages/update-profile.pug'];
    ul 
        each pageUrl in pageUrls
            li 
                +link(pageUrl, pageUrl)
