@import '../../common/common.css';
@import '../../common/components/components.index.css';

.signup-form {
    margin-top: 3rem auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;

    &__form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__control {
        margin-top: 15px;
    }

    &__submit {
        margin-top: 25px;
    }

    &__login-link {
        margin-top: 10px;
        text-align: center;
        font-size: var(--font-size-small);
    }
}
