@import '../../common/common.css';
@import '../../common/components/components.index.css';

.container-404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: inherit;
    color: #999;

    &__h1 {
        margin: 0 0 5px;
        color: #999;
    }
}
